.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF4D5B;
}

.header .logo, 
.header .user-photo {
    margin: .5rem;
    padding: .25rem;
}

.header .logo img {
    display: block;
    width: 5%;
}

.header .user-photo img {
    display: block;
    width: 50%;
    float: right;
    border-radius: 50%;
}